a.btn.cms-content-expiry-action-btn {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    padding: 0 !important;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 34px;
    height: 34px;
    margin-top: -12px !important;
    position: relative;
    height: 34px;
    bottom: -6px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
a.btn.cms-content-expiry-action-btn img {
    width: 20px;
    height: 20px;
    float: left;
    display: inline-block;
}
a.btn.cms-actions-dropdown-menu-item-anchor img {
        width: 20px;
    height: 20px;
    float: left;
    display: inline-block;
}
a.btn.cms-content-expiry-action-btn span {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    float: left;
    display: inline-block;
}
a.btn.cms-actions-dropdown-menu-item-anchor span {
    width: 20px;
    height: 20px;
    margin-top: 6px;
    float: left;
    display: inline-block;
}
span.svg-juxtaposed-font {
    text-rendering: auto;
    display: inline-block;
    line-height: 1rem;
    vertical-align: 20%;
    margin-top: -2px !important;
}
.cms-actions-dropdown-menu {
    display: none;
    position: absolute;
    top: 30px;
    right: -1px;
    z-index: 1000;
    min-width: 180px;
    margin: 0;
    padding: 0 !important;
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.25);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}