# test libraries
https://github.com/divio/django-cms/tarball/66c70394c9e144281a0b47d93e3784d06318acf9#egg=django-cms
coverage
pyflakes>=2.1.1
flake8
isort
mock
python-dateutil
beautifulsoup4
django-classy-tags<2.0.0
django-sekizai<2.0.0
tox